body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
}

.notification-content {
  background-color: orange;
  display: inline-block;
  width: 50%;
  padding: 1em 2em;
  border-radius: 0.45rem;
}
